#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  padding: 5px;
}

button p {
  margin: 0;
}

.footer-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid #e0e0e0;
  gap: 1rem;
}

.pagination-container {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.search-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.results-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem 0;
}

.results-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid white;
}

.results-list__item {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 1rem;
  align-items: center;
}

.details-container {
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid white;
}

.flayout-panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid white;
}

.theme-switcher {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

.theme-switcher label {
  display: flex;
  gap: 0.5rem;
}

.flex-text.dark {
  color: #ff0000;
}

.flex-text.light {
  color: #008cff;
}
